/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition:.5s;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 2rem;
  color: #D3132A;
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: rgba(0,0,0,.6);
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: Georgia, serif;
  font-size: 3.25rem;
}

.sidebar-about img {
  display: inline;
}

@media (min-width: 48em) {
  .sidebar-about h1 {
    margin-left: -1rem;
  }
  .sidebar-about img {
    display: block;
  }
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
a.sidebar-nav-item {
  display: block;
  line-height: 2;
  display: inline-block;
  text-decoration: none;
  padding: 0; margin: .5rem 1rem 0 0;
}

.sidebar-nav-item.active {
  color: rgba(0,0,0,1);
}

a.sidebar-nav-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-top: -.5rem;
  background: rgba(0,0,0,.6);
  transition: width .5s ease;
}
a.sidebar-nav-item:hover:after {
  width: 100%;
  background: rgba(0,0,0,.6);
}

a.sidebar-nav-item.active:after {
  width: 100%;
  background: rgba(0,0,0,1);
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

footer {
  display: none;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   3rem;
  }

  footer {
    display: block;
    font-size: .6rem;
    color: rgba(0,0,0,.5);
    margin-top: 3rem;
  }
}

.sidebar-sticky p {
  margin: 0;
}

a.ghost-btn {
  border: 1px solid rgba(0,0,0,.3);
  padding: .1rem .3rem;
  display: inline-block;
  margin: .2rem 0;
  border-radius: .2rem;
  font-size: .9rem;
}

a.ghost-btn:hover {
  text-decoration: none;
  color: rgba(0,0,0,1);
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}



/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */


/* ITS custom */
.its .sidebar {
  background-color: #fff;
}
.its .content a,
.its .related-posts li a:hover {
  color: #e81c4f;
}
