/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition:.5s;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 2rem;
  color: #D3132A;
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: rgba(0,0,0,.6);
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: Georgia, serif;
  font-size: 3.25rem;
}

.sidebar-about img {
  display: inline;
}

@media (min-width: 48em) {
  .sidebar-about h1 {
    margin-left: -1rem;
  }
  .sidebar-about img {
    display: block;
  }
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
a.sidebar-nav-item {
  display: block;
  line-height: 2;
  display: inline-block;
  text-decoration: none;
  margin: .5rem .5rem;
}

@media (min-width: 48em) {
  a.sidebar-nav-item {
    margin: .5rem 1rem 0 0;
  }
}

.sidebar-nav-item.active {
  color: rgba(0,0,0,1);
}

a.sidebar-nav-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-top: -.5rem;
  background: rgba(0,0,0,.6);
  transition: width .5s ease;
}
a.sidebar-nav-item:hover:after {
  width: 100%;
  background: rgba(0,0,0,.6);
}

a.sidebar-nav-item.active:after {
  width: 100%;
  background: rgba(0,0,0,1);
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

footer {
  display: none;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 1rem;
    display: block;
    font-size: .6rem;
    color: rgba(0,0,0,.5);
  }
}

.sidebar-sticky p {
  margin: 0;
}

a.ghost-btn {
  border: 1px solid rgba(0,0,0,.3);
  padding: .1rem .3rem;
  display: inline-block;
  margin: .2rem 0;
  border-radius: .2rem;
  font-size: .9rem;
}

a.ghost-btn:hover {
  text-decoration: none;
  color: rgba(0,0,0,1);
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 42rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}



/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */


/* Crossfade pages */

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* ITS custom */
.its .sidebar {
  background-color: #fff;
}
.its .content a,
.its .related-posts li a:hover {
  color: #D3132A;
}


/* Hero paragraph */
.hero h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.hero {
  margin: 0 0 3rem; padding: 0 0 2rem;
  border-bottom: 1px dashed rgba(0,0,0,.6)
}

/* Service lists */
ul.services {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

ul.services li {
  display: inline-block;
  background: rgba(208,2,27,.8);
  color: #fff;
  padding: .3rem .5rem;
  margin: .125rem 0;
  border-radius: .1rem;
}

/* Contact pane */

.contact-inline {
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: .2rem;
  margin-top: 3rem;
}

.contact-inline h4 {
  margin: 0;
  flex: 1 30;
}

.contact-inline .buttons {
  display: block;
  justify-content: space-around;
}

.contact-inline a {
  font-size: 1rem;
  padding: .5rem 1rem;
}