<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}public/its.svg" alt="its">
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

    {% comment %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
    {% endcomment %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


    </nav>

    <div class="sidebar-sticky">
    <p>Lépjen velünk kapcsolatba</p>
      <a class="ghost-btn" href="mailto:info@its.hu">info@its.hu</a>
      <a class="ghost-btn">+361 781 5487</a>
    </div>


    <footer>{{ site.time | date: '%Y' }} &copy; <b>its</b> • Byrd Agency Kft.</footer>

  </div>
</div>
