<!DOCTYPE html>
<html lang="hu-hu">

  {% include head.html %}

  <body class="its">

    {% include sidebar.html %}

    <div id="main-content" class="content container animate-in">
      {{ content }}


    <div class="contact-inline">
    <h4>Lépjen velünk kapcsolatba</h4>
        <div class="buttons">
            <a class="ghost-btn" href="mailto:info@its.hu">info@its.hu</a>
            <a class="ghost-btn">+361 781 5487</a>
        </div>
    </div>
    </div>

  </body>
  <script type="text/javascript">
    window.addEventListener("beforeunload", function () {
      document.getElementById("main-content").classList.add("animate-out");
    });
  </script>
</html>
